*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    text-align: center;
    color: rgb(158, 15, 7);
    background-image: url("bgpic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    background-color: beige;
    height: 5rem;
    line-height: 5rem;
}
#div1{
    display: flex;
    flex-direction:row ;
    height:50px;
    width:100vw;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
    align-items: center;
}
.nav{
    background-color: beige;
    height: 50px;
    width: 100px;
    line-height: 2.5rem;
    align-items: center;
    border-radius: 20%;
}
.nav:hover{
    background-color: brown;
}